<h1>Show Request</h1>

<ul>

  <li>
    <strong>Nbdays:</strong>
    <%= @request.nbdays %>
  </li>

  <li>
    <strong>Cost:</strong>
    <%= @request.cost %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @request.status %>
  </li>

  <li>
    <strong>Period:</strong>
    <%= @request.period %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.request_path(@conn, :edit, @request) %></span>
<span><%= link "Back", to: Routes.request_path(@conn, :index) %></span>
